.footer {
  background: #2e2f42;
  height: 312px;
  padding: 100px 156px;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  margin: 0px;
  margin-bottom: 16px;
}
.logo_accent {
  color: #f4f4fd;
}
.footer_about {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;

  width: 264px;
  height: 72px;

  margin: 0;
}
